@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #141D38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #141D38;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1218px;
  margin: 0 auto;
  width: 100%;
}
